html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
}
.gris-claro {
	background-color: #BCBCBC;
}
.texto-blanco {
	color: white;
}
.text-teal,
.hover-text-teal:hover {
	color: #009688 !important
}
.center {
	text-align: center;
}
.center-block {
	display: block;
	text-align: center;
}
footer {
	background-color: gray;
}
.treinta-porciento {
	width: 33.33333%
}
.tarjeta {
	border: 1px solid #ccc
}
.tarjeta-2,
.ejemplo {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}
.tarjeta-4,
.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important

}
.tarjeta-8 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}
.tarjeta-12 {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important
}
.tarjeta-16 {
	box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important
}
.tarjeta-24 {
	box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important
}
.animate-fading {
	-webkit-animation: fading 10s infinite;
	animation: fading 10s infinite
}
@-webkit-keyframes fading {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}
@keyframes fading {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}
.animate-opacity {
	-webkit-animation: opac 0.8s;
	animation: opac 0.8s
}
@-webkit-keyframes opac {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes opac {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
.animate-top {
	position: relative;
	-webkit-animation: animatetop 0.4s;
	animation: animatetop 0.4s
}
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
.animate-left {
	position: relative;
	-webkit-animation: animateleft 0.4s;
	animation: animateleft 0.4s
}
@-webkit-keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}
	to {
		left: 0;
		opacity: 1
	}
}
@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}
	to {
		left: 0;
		opacity: 1
	}
}
.animate-right {
	position: relative;
	-webkit-animation: animateright 0.4s;
	animation: animateright 0.4s
}
@-webkit-keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}
	to {
		right: 0;
		opacity: 1
	}
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}
	to {
		right: 0;
		opacity: 1
	}
}

.animate-bottom {
	position: relative;
	-webkit-animation: animatebottom 0.4s;
	animation: animatebottom 0.4s
}
@-webkit-keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0
	}
	to {
		bottom: 0px;
		opacity: 1
	}
}
@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}
.animate-zoom {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}
@keyframes animatezoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}
.fondo-blanco {
	background-color: white;
}
.texto-gris {
	color: gray;
}
.tooltip,
.display-container {
	position: relative
}
.display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}
.border-0 {
	border: 0 !important
}

.border {
	border: 1px solid #ccc !important
}

.border-top {
	border-top: 1px solid #ccc !important
}

.border-bottom {
	border-bottom: 1px solid #ccc !important
}

.border-left {
	border-left: 1px solid #ccc !important
}

.border-right {
	border-right: 1px solid #ccc !important
}

.margin {
	margin: 16px !important
}

.margin-0 {
	margin: 0 !important
}

.margin-top {
	margin-top: 16px !important
}

.margin-bottom {
	margin-bottom: 16px !important
}

.margin-left {
	margin-left: 16px !important
}

.margin-right {
	margin-right: 16px !important
}

.section {
	margin-top: 16px !important;
	margin-bottom: 16px !important
}

.padding-tiny {
	padding: 2px 4px !important
}

.padding-small {
	padding: 4px 8px !important
}

.padding-medium,
.padding,
.form {
	padding: 8px 16px !important
}

.padding-large {
	padding: 12px 24px !important
}

.padding-xlarge {
	padding: 16px 32px !important
}

.padding-xxlarge {
	padding: 24px 48px !important
}

.padding-jumbo {
	padding: 32px 64px !important
}

.padding-4 {
	padding-top: 4px !important;
	padding-bottom: 4px !important
}

.padding-8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important
}

.padding-12 {
	padding-top: 12px !important;
	padding-bottom: 12px !important
}

.padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important
}

.padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important
}

.padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important
}

.padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important
}

.padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important
}

.padding-128 {
	padding-top: 128px !important;
	padding-bottom: 128px !important
}
.w3-top,
.w3-bottom {
	position: fixed;
	width: 100%;
	z-index: 1
}

.top {
	top: 0
}

.bottom {
	bottom: 0
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.left {
	float: left !important
}

.right {
	float: right !important
}

.tiny {
	font-size: 10px !important
}

.small {
	font-size: 12px !important
}

.medium {
	font-size: 15px !important
}

.large {
	font-size: 18px !important
}

.xlarge {
	font-size: 24px !important
}

.xxlarge {
	font-size: 36px !important
}

.xxxlarge {
	font-size: 48px !important
}

.jumbo {
	font-size: 64px !important
}

.vertical {
	word-break: break-all;
	line-height: 1;
	text-align: center;
	width: 0.6em
}
.progress-container {
	width: 100%;
	height: 1.5em;
	position: relative;
	background-color: #f1f1f1
}
.round-small {
	border-radius: 2px !important
}

.round,
.round-medium {
	border-radius: 4px !important
}

.round-large {
	border-radius: 8px !important
}

.round-xlarge {
	border-radius: 16px !important
}

.round-xxlarge {
	border-radius: 32px !important
}

.round-jumbo {
	border-radius: 64px !important
}

.border-0 {
	border: 0 !important
}

.border {
	border: 1px solid #ccc !important
}

.border-top {
	border-top: 1px solid #ccc !important
}

.border-bottom {
	border-bottom: 1px solid #ccc !important
}

.border-left {
	border-left: 1px solid #ccc !important
}

.border-right {
	border-right: 1px solid #ccc !important
}
.progress-container {
	width: 100%;
	height: 1.5em;
	position: relative;
	background-color: #f1f1f1
}

.progressbar {
	background-color: #757575;
	height: 100%;
	position: absolute;
	line-height: inherit
}
.left {
	float: left !important
}

.right {
	float: right !important
}

.tiny {
	font-size: 10px !important
}

.small {
	font-size: 12px !important
}

.medium {
	font-size: 15px !important
}

.large {
	font-size: 18px !important
}

.xlarge {
	font-size: 24px !important
}

.xxlarge {
	font-size: 36px !important
}

.xxxlarge {
	font-size: 48px !important
}

.jumbo {
	font-size: 64px !important
}

.vertical {
	word-break: break-all;
	line-height: 1;
	text-align: center;
	width: 0.6em
}